.box{
color:#000;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
background-color:rgba(0, 0,0,0.2);
border-radius: 12px;
position: absolute;
top: 50px;
padding: 15px;
width: 250px;
color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

   


}
.button{
   color: black;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bolder;  
}
input{
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   background-image: linear-gradient(150deg,#fcf7f7de,#000);
   height: 100vh;
   flex-direction: column;
   align-items: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   
   
}
fieldset{
   border: 2px solid rgb(212, 211, 211);
   bottom: 50%;
}
legend{
   border: 1px solid ;
   text-align: center;
   border-radius: 8px;
   background-color: #525151;
   padding: 10px;


}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-image: linear-gradient(to right, rgb(#F2F2F7), rgb(1#F2F2F7));
}

.inputBox{
   position: relative;
}
#submit{
   color: #050505;
   width: 100%;
   border: none;
   padding: 15px;
   background-color: #f3f2f2;
   font-size: 15px;
   border-radius: 10px;
   cursor: pointer;
}